.inspection-popup-overlay {
  position: fixed;
  inset: 0;
  z-index: 99999;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.35);

  display: flex;
  align-items: center;
  justify-content: center;
}

.inspection-popup {
  width: 700px;
  max-height: 92vh;

  background-color: #ffffff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.inspection-popup-body {
  padding: 20px;
  box-sizing: border-box;

  overflow-y: auto;
  margin-bottom: 15px;
}

.inspection-popup-main-title {
  margin: 0 0 24px 0;

  font-size: 28px;
  font-weight: 700;
  color: #000;

  text-align: left;
}

.inspection-popup-section {
  width: 100%;
  margin-bottom: 15px;
}

.inspection-popup-title {
  margin: 0 0 12px 0;

  font-size: 18px;
  font-weight: 600;
  color: #000;
}

.inspection-date-row {
  display: flex;
  align-items: flex-end;
  gap: 6px;
  flex-wrap: wrap;
}

.inspection-date-field {
  display: flex;
  flex-direction: column;
}

.inspection-date-field label {
  font-size: 8px;
  font-weight: 500;
  color: var(--color-dark-gray);
  margin-bottom: 4px;
}

.inspection-date-field input {
  width: 95px;
  height: 28px;

  border: 1px solid #000;
  border-radius: 4px;

  font-size: 12px;
  color: #000;
  text-align: center;

  box-sizing: border-box;
}

.inspection-time-field input {
  width: 100px;
}

.inspection-date-separator {
  height: 28px;

  display: flex;
  align-items: center;

  font-size: 14px;
  color: #000;
}

.inspection-turbine-list {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
}

.inspection-turbine-option {
  display: flex;
  align-items: center;
  gap: 4px;

  font-size: 13px;
  font-weight: 500;
  color: #000;

  cursor: pointer;
}

.inspection-turbine-option input {
  width: 13px;
  height: 13px;
  margin: 0;
}

.inspection-turbine-option input:disabled {
  accent-color: #9ca3af;
  cursor: not-allowed;
}

.inspection-turbine-option:has(input:disabled) {
  color: #9ca3af;
  cursor: not-allowed;
}

.inspection-content-textarea {
  width: 100%;
  height: 200px;

  border: 1px solid #000;
  border-radius: 8px;

  padding: 10px;
  box-sizing: border-box;

  resize: none;

  font-size: 11px;
  font-weight: 500;
  line-height: 1.8;
  color: #000;
}


.inspection-popup-footer {
  padding: 0 20px 20px;
  box-sizing: border-box;

  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.inspection-popup-cancel-button,
.inspection-popup-complete-button {
  height: 30px;

  border: none;
  border-radius: 5px;

  padding: 0 10px;

  font-size: 14px;
  font-weight: 500;
  color: #000;

  cursor: pointer;
}

.inspection-popup-cancel-button {
  background-color: #c8c8c8;
}

.inspection-popup-complete-button {
  background-color: var(--color-point);
}

.inspection-popup-complete-button:disabled {
  opacity: 0.45;
  cursor: not-allowed;
}

.required-mark {
  color: #ff3b30;
  font-size: 15px;
  font-weight: 1000;
  vertical-align: top;
  margin-left: -2px;
}