.turbine-sidebar-content {
  padding-top: 8px;
}

.turbine-power-panel {
  padding-bottom: 4px;
}

.turbine-divider {
  padding: 15px 31px 5px 31px;
}

.turbine-report-panel {
  padding-top: 4px;
  padding-bottom: 20px;
}