.loading-overlay {
  position: fixed;
  inset: 0;
  z-index: 2000;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(2px);
}

.loading-turbine {
  position: relative;

  width: 120px;
  height: 120px;
}

.loading-stick {
  position: absolute;
  left: 40%;
  top: 50%;

  width: 100px;
  height: 120px;

  object-fit: contain;

  transform: translate(-50%, -30%);
}

.loading-blade {
  position: absolute;
  left: 40%;
  top: 50%;

  width: 100px;
  height: 100px;

  object-fit: contain;

  transform-origin: center center;
  animation: loading-blade-spin 2.0s linear infinite;
}

.loading-message {
  margin-top: 70px;

  font-size: 18px;
  font-weight: 700;
  color: var(--color-dark-gray);
}

@keyframes loading-blade-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.loading-message-dots {
  display: inline-block;
  width: 18px;
  text-align: left;
}