.power-item {
  width: fit-content;
  min-width: 90px;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-weight: 500;
}

.power-item-clickable {
  cursor: pointer;
}

.power-item-clickable:hover {
  opacity: 0.85;
}

.power-item-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}

.power-item-label {
  width: 100%;
  text-align: right;
  padding-right: 3px;
  box-sizing: border-box;

  font-size: 12px;
  font-weight: 550;
  color: #000;
  margin-bottom: 3px;
}

.power-item-data {
  width: 100%;
  margin-top: 8px;
  text-align: center;
}

.power-item-value {
  color: var(--color-text-point-dark);
  font-size: 18px;
  font-weight: 550;
  line-height: 1;
  text-align: center;
}

.power-item-output-value {
  color: #000;
  font-size: 20px;
  font-weight: 550;
  line-height: 1;
  margin-top: -6px;
  margin-bottom: 8px;
}

.power-item-output-label {
  margin-bottom: -6px;
}