:root {
  --color-text-point-dark: #0B50D1;
  --color-point-bright: #ECF2FE;
  --color-dark-gray: #4F4F4F;
  --color-divider: #AEAEB2;
  --color-point: #85AFF9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #f9fafb;
}